<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Ask sites and their third party content providers not to track you.</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>sendDoNotTrack</string>
			<key>Title</key>
			<string>Send &quot;Do-Not-Track&quot; requests</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Manage what types of cookies Psiphon Browser allows.</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>AllowWebsitesIVisit</string>
			<key>Values</key>
			<array>
				<string>AlwaysBlock</string>
				<string>AllowCurrentWebsiteOnly</string>
				<string>AllowWebsitesIVisit</string>
				<string>AlwaysAllow</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Always Block</string>
				<string>Allow from Current Website Only</string>
				<string>Allow from Websites I Visit</string>
				<string>Always Allow</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>Block All</string>
				<string>Current Website Only</string>
				<string>Websites I Visit</string>
				<string>Allow All</string>
			</array>
			<key>Key</key>
			<string>cookiePolicy</string>
			<key>Title</key>
			<string>Allow Cookies</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>FooterText</key>
			<string>Websites may store cookies and other data on your device to identify you when browsing. This data is usually used to provide services and content specific to you. It can include your login information, preferences, and personal information such as your name or email address. Psiphon Browser blocks cookies from sites other than the one you are visiting (third party cookies) by default to help prevent advertisers from storing data on your device.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>All tabs, cookies and website data will be cleared when switching to another app.</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>clearAllWhenBackgrounded</string>
			<key>Title</key>
			<string>Clear all when backgrounded</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Cookies and local storage will be cleared.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clearWebsiteData</string>
			<key>Title</key>
			<string>Clear cookies and website data</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
