<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>COOKIE_CONTROL_FOOTER</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Values</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>720</string>
				<string>1440</string>
			</array>
			<key>Titles</key>
			<array>
				<string>MINS_FIFTEEN</string>
				<string>MINS_THIRTY</string>
				<string>HOURS_TWELVE</string>
				<string>HOURS_TWENTYFOUR</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>MINS_FIFTEEN</string>
				<string>MINS_THIRTY</string>
				<string>HOURS_TWELVE</string>
				<string>HOURS_TWENTYFOUR</string>
			</array>
			<key>Key</key>
			<string>oldDataSweepMins</string>
			<key>Title</key>
			<string>CLEAR_COOKIES</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>CLEAR_ALL_WHEN_BACKGROUNDED_FOOTER</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>clearAllWhenBackgrounded</string>
			<key>Title</key>
			<string>CLEAR_ALL_WHEN_BACKGROUNDED</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>sendDoNotTrack</string>
			<key>Title</key>
			<string>SEND_DO_NOT_TRACK</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
