<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>TIMEOUTS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>DisableTimeouts</string>
			<key>Title</key>
			<string>DISABLE_TIMEOUTS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PROXY</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useUpstreamProxy</string>
			<key>Title</key>
			<string>USE_UPSTREAM_PROXY</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>upstreamProxyHostAddress</string>
			<key>Title</key>
			<string>HOST_ADDRESS</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutoCorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>upstreamProxyPort</string>
			<key>Title</key>
			<string>PORT</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutoCorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useProxyAuthentication</string>
			<key>Title</key>
			<string>USE_PROXY_AUTHENTICATION</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyUsername</string>
			<key>Title</key>
			<string>PROXY_USERNAME</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutoCorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>PROXY_PASSWORD</string>
			<key>Key</key>
			<string>proxyPassword</string>
			<key>AutoCorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyDomain</string>
			<key>Title</key>
			<string>PROXY_DOMAIN</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutoCorrectionType</key>
			<string>no</string>
		</dict>
	</array>
</dict>
</plist>
