<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>best-performance</string>
			<key>Title</key>
			<string>BEST_PERFORMANCE</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>usa</string>
			<key>Title</key>
			<string>UNITED_STATES</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>uk</string>
			<key>Title</key>
			<string>UNITED_KINGDOM</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ca</string>
			<key>Title</key>
			<string>CANADA</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>jp</string>
			<key>Title</key>
			<string>JAPAN</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>de</string>
			<key>Title</key>
			<string>GERMANY</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>sg</string>
			<key>Title</key>
			<string>SINGAPORE</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>dl</string>
			<key>Title</key>
			<string>NETHERLANDS</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>in</string>
			<key>Title</key>
			<string>INDIA</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
