<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>PSIPHON_AND_BROWSER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CHANGE_REGION</string>
			<key>Key</key>
			<string>regionSelection</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_LANGUAGE</string>
			<key>Key</key>
			<string>appLanguage</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>en</string>
				<string>fa</string>
				<string>zh-Hant</string>
				<string>ar</string>
				<string>de</string>
				<string>es</string>
				<string>fr</string>
				<string>hr</string>
				<string>id</string>
				<string>nl</string>
				<string>pt-PT</string>
			</array>
			<key>Titles</key>
			<array>
				<string>DEFAULT_LANGUAGE</string>
				<string>English</string>
				<string>فارسی</string>
				<string>繁体中文</string>
				<string>العربية</string>
				<string>Deutsch</string>
				<string>Español</string>
				<string>Français</string>
				<string>Hrvatski</string>
				<string>Bahasa Indonesia</string>
				<string>Nederlands</string>
				<string>Português (Portugal)</string>
			</array>
		</dict>
		<dict>
			<key>File</key>
			<string>PsiphonSettings</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Notifications</string>
			<key>Title</key>
			<string>NOTIFICATIONS</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>DuckDuckGo</string>
			<key>Values</key>
			<array>
				<string>DuckDuckGo</string>
				<string>Google</string>
				<string>Startpage</string>
			</array>
			<key>Titles</key>
			<array>
				<string>DUCKDUCKGO</string>
				<string>GOOGLE</string>
				<string>START_PAGE</string>
			</array>
			<key>Key</key>
			<string>search_engine</string>
			<key>Title</key>
			<string>SEARCH_ENGINE</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Privacy</string>
			<key>Title</key>
			<string>PRIVACY</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Security</string>
			<key>Title</key>
			<string>SECURITY</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>HELP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SUBMIT_FEEDBACK</string>
			<key>File</key>
			<string>Feedback</string>
			<key>Key</key>
			<string>feedback</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>FAQ</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>faq</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PRIVACY_POLICY</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>privacyPolicy</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TERMS_OF_USE</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>termsOfUse</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ABOUT</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>about</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TUTORIAL</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SOCIAL</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SHARE_ON_FACEBOOK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SHARE_ON_TWITTER</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>RATE_US</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
