<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>HTTPS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>HTTPS EVERYWHERE</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>httpsEverywhere</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>SECURITY_TLS_MINIMUM_DESCRIPTION</string>
			<key>FooterTextDefault</key>
			<string>Minimum version of SSL/TLS required for HTTPS connections; may require force-closing the app to take effect.</string>
			<key>FooterTextDescription</key>
			<string>Explanatory text for the "Minimum SSL/TLS Version" setting.</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>TLS_1_2</string>
			<key>Values</key>
			<array>
				<string>TLS_1_2</string>
				<string>TLS_1_1</string>
				<string>TLS_1_0</string>
			</array>
			<key>Titles</key>
			<array>
				<dict>
					<key>Title</key>
					<string>TLS 1.2</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>TLS 1.1</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>TLS 1.0</string>
				</dict>
			</array>
			<key>Key</key>
			<string>minTlsVersion</string>
			<key>Title</key>
			<string>SECURITY_TLS_MINIMUM_LABEL</string>
			<key>TitleDefault</key>
			<string>Minimum SSL/TLS Version</string>
			<key>TitleDescription</key>
			<string>Label of a setting. It allows the user to set the minimum TLS version that the browser should accept. TLS is "Transport Layer Security"; it is the successor to SSL ("Secure Sockets Layer"). This text should be kept short.</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
